<!DOCTYPE HTML>
<html ng-app="Status">
  <head>
    <title><%= @title %></title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
  </head>
  <body>
    <%= content_for(:template) %>
  </body>
    <script src="/static/js/bower_components/jquery/jquery.min.js"></script>
    <script src="/static/js/bower_components/bacon/dist/Bacon.min.js"></script>
    <script src="/static/js/bower_components/bacon.jquery/dist/bacon.jquery.min.js"></script>
    <script src="/static/js/application.js"></script>
</html>
