<!DOCTYPE HTML>
<html ng-app>
  <head>
    <title><%= @title %></title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
  </head>
  <body>
    Here
    <%= content_for(:template) %>
  </body>
    <script src="/static/js/bower_components/angular/angular.js"></script>
    <script src="/static/js/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/static/js/application.js"></script>
</html>
